*.class
*.classpath
*.project
*.factorypath
*.apk
*.log
bin/
gen/
.settings/
target/
.gradle/
build/
*/build/
*/.idea/
.idea/
#忽略当前的文件
genesis-microservices/genesis-microservices-config/src/main/resources/application.properties